<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>クレジットカード情報の編集</title>
</head>

<body>
	<div class="samuraitabelog-wrapper">

		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container pt-4 pb-5 samuraitabelog-container">
				<div class="row justify-content-center">
					<div class="col-xl-5 col-lg-6 col-md-8">
						<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a th:href="@{/}">トップページ</a></li>
								<li class="breadcrumb-item"><a th:href="@{/user}">会員情報</a></li>
								<li class="breadcrumb-item"><a th:href="@{/credit/__${credit.getId()}__}">クレジットカード情報</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">クレジットカード情報編集</li>
							</ol>
						</nav>

						<h1 class="mb-4 text-center">クレジットカード情報編集</h1>

						<form method="post" th:action="@{/credit/__${credit.getId()}__/update}"
							th:object="${creditEditForm}" enctype="multipart/form-data">
							<input type="hidden" th:field="*{id}">

							<input type="hidden" th:field="*{user}">

							<div class="form-group row mb-3">
								<div class="col-md-4">
									<label for="creditNumber"
										class="col-form-label text-md-left fw-bold">クレジットカード番号</label>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('creditNumber')}" class="text-danger small mb-2"
										th:errors="*{creditNumber}"></div>
										<input type="text" class="form-control" th:field="*{creditNumber}">
								</div>
							</div>

							<div class="form-group row mb-3">
								<div class="col-md-4">
									<label for="goodThru" class="col-form-label text-md-left fw-bold">有効期限</label>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('goodThru')}" class="text-danger small mb-2"
										th:errors="*{goodThru}"></div>
										<input type="text" class="form-control" th:field="*{goodThru}">
								</div>
							</div>

							<div class="form-group row mb-3">
								<div class="col-md-4">
									<label for="securityCode"
										class="col-form-label text-md-left fw-bold">セキュリティコード</label>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('securityCode')}" class="text-danger small mb-2"
										th:errors="*{securityCode}"></div>
										<input type="text" class="form-control" th:field="*{securityCode}">
								</div>
							</div>

							<div class="form-group row mb-3">
								<div class="col-md-4">
									<label for="name"
										class="col-form-label text-md-left fw-bold">カード名義</label>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('name')}" class="text-danger small mb-2"
										th:errors="*{name}"></div>
										<input type="text" class="form-control" th:field="*{name}">
								</div>
							</div>

							<div class="form-group d-flex justify-content-center my-4">
								<button type="submit"
									class="btn text-white shadow-sm w-50 samuraitabelog-btn">更新</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</main>
	</div>
</body>

</html>