<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<title>パスワード再設定</title>
</head>

<body>
	<h1>新しいパスワードを入力してください</h1>
	<div th:if="${errorMessage}" class="alert alert-info">
		<span th:text="${errorMessage}"></span>
	</div>
	<form th:action="@{/password/reset/confirm}" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<input type="hidden" name="token" th:value="${token}" />
		<input type="password" name="currentPassword" placeholder="現在のパスワード" required>
		<input type="password" name="newPassword" placeholder="新しいパスワード" required>
		<button type="submit">パスワードを再設定する</button>
	</form>
</body>

</html>