<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>クレジットカード情報ページ</title>
</head>

<body>
	<div class="samuraitabelog-wrapper">
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container samuraitabelog-container mb-5">
				<div class="row justify-content-center">
					<div class="col-xl-5 col-lg-6 col-md-8">
						<nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a th:href="@{/}">トップページ</a></li>
								<li class="breadcrumb-item"><a th:href="@{/user}">会員情報</a></li>
								<li class="breadcrumb-item active" aria-current="page">クレジットカード情報</li>
							</ol>
						</nav>

						<h1 class="mb-3 text-center">クレジットカード情報</h1>

						<div class="d-flex justify-content-end align-items-end mb-3">
							<div>
								<a th:href="@{/credit/__${credit.getId()}__/edit}">編集</a>
								<a th:href="@{/credit/__${credit.getId()}__/delete}">削除</a>
							</div>
						</div>

						<div th:if="${successMessage}" class="alert alert-info">
							<span th:text="${successMessage}"></span>
						</div>

						<div class="container mb-4">
							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-4">
									<span class="fw-bold">クレジットカード番号</span>
								</div>

								<div class="col">
									<span th:text="${credit.getCreditNumber()}"></span>
								</div>
							</div>

							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-4">
									<span class="fw-bold">有効期限</span>
								</div>

								<div class="col">
									<span th:text="${credit.getGoodThru()}"></span>
								</div>
							</div>

							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-4">
									<span class="fw-bold">セキュリティコード</span>
								</div>

								<div class="col">
									<span th:text="${credit.getSecurityCode()}"></span>
								</div>
							</div>

							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-4">
									<span class="fw-bold">カード名義</span>
								</div>

								<div class="col">
									<span th:text="${credit.getName()}"></span>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</main>

		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>